# dag 3 - ochtend

### Dit is wat ik ga doen vandaag:
- Laat de library's
- Laat de data en laat het zien
- Bereken het gemiddelde / mediaan
- Bereken jet interkwartiel afstand van "Flightdistance"
- kijk naar het datatype van een feature

### 1. Laat de library's

In [ ]:
import pandas as pd

Saving Airlinesatisfaction.csv to Airlinesatisfaction.csv

### 2. Laat de data en laat het zien

In [ ]:
data = pd.read_csv('Airlinesatisfaction.csv', sep=",")
data

        Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0                0   70172  ...                     18.0  neutral or dissatisfied
1                1    5047  ...                      6.0  neutral or dissatisfied
2                2  110028  ...                      0.0                satisfied
3                3   24026  ...                      9.0  neutral or dissatisfied
4                4  119299  ...                      0.0                satisfied
...            ...     ...  ...                      ...                      ...
103899      103899   94171  ...                      0.0  neutral or dissatisfied
103900      103900   73097  ...                      0.0                satisfied
103901      103901   68825  ...                     14.0  neutral or dissatisfied
103902      103902   54173  ...                      0.0  neutral or dissatisfied
103903      103903   62567  ...                      0.0  neutral or dissatisfied

[103904 rows x 25 columns]

### 3. Bereken het gemiddelde / mediaan

In [ ]:
[data['Flight Distance'].mean(), # gemiddelde waarde
data['Flight Distance'].median()]# de mediaan

[1189.4483754234677, 843.0]

In [ ]:
data.describe()

          Unnamed: 0  ...  Arrival Delay in Minutes
count  103904.000000  ...             103594.000000
mean    51951.500000  ...                 15.178678
std     29994.645522  ...                 38.698682
min         0.000000  ...                  0.000000
25%     25975.750000  ...                  0.000000
50%     51951.500000  ...                  0.000000
75%     77927.250000  ...                 13.000000
max    103903.000000  ...               1584.000000

[8 rows x 20 columns]

### 4. Bereken jet interkwartiel afstand van "Flightdistance"

In [ ]:
1743 - 414

1329

### 5. kijk naar het datatype van een feature

In [ ]:
data['Flight Distance'].mode()

0    337
dtype: int64