# dag 2 - middag

### Wat ik vandaag ga doen:
- Load Libraries
- Load en bekijk de data
- Bekijk welke data categorisch is
- Verwijder de kolommen 'Name' , 'Cabin' en 'Ticket'
- Codeer categorische features met indices (getallen)
- Vervang NaN in "Ages". Bepaal zelf of mediaan of gemiddelde hiervoor het best is.
- Codeer categorische features met indices (getallen)
- Bereid de data voor om je model te trainen. Wat wordt je target vector en hoe ziet je feature matrix er uit?
- maak een feature matrix
- maak een target vector
- Train
- test KNN classifier
- Train en test regressie classifier. (logistisch)

### 1. Load libraries

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

### 2. Load en bekijk data

In [2]:
data = pd.read_csv('titanic_data.csv', sep=",")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 3. Bekijk welke data categorisch is

In [3]:
data.select_dtypes(exclude = [np.number]).columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

### 4. Verwijder de kolommen 'Name', 'Cabin' en 'Ticket'

In [4]:
data = data.drop(["Name", "Ticket", "Cabin"], axis = 1)

### 5. Codeer categorische features met indices (getallen)

In [5]:
data["Sex"] = pd.factorize(data.Sex)[0]
data["Embarked"] = pd.factorize(data.Embarked)[0]

### 6. Vervang NaN in "Ages". Bepaal zelf of mediaan of gemiddelde hiervoor het best is.

In [6]:
data["Age"] = data["Age"].fillna(data["Age"].mean())

### 7. Codeer categorische features met indices (getallen)

In [7]:
data["Sex"] = pd.factorize(data.Sex)[0]
data["Embarked"] = pd.factorize(data.Embarked) [0]

### 8. Bereid de data voor om je model te trainen. Wat wordt je target vector en hoe ziet je feature matrix er uit?

In [8]:
data["Sex"] = pd.factorize(data.Sex)[0]
data["Embarked"] = pd.factorize(data.Embarked)[0]

### 9. maak een feature matrix

In [17]:
X = data.drop('Survived', axis=1)
X.shape

(891, 8)

### 10. maak een target vector

In [18]:
y = data['Survived']
y.shape

(891,)

### 11. Train

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 6)

### 12. test KNN classifier

In [13]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
pred = knn.predict(X_test)
accuracy_score(pred, y_test)

0.6312849162011173

### 13. Train en test regressie classifier. (logistisch)

In [14]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
accuracy_score(pred, y_test)

E:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8547486033519553